@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*======= CSS variables =======*/
:root{
  --white-color: #fff;
  --dark-color: #222;
  --body-bg-color: #000;
  --section-bg-color: #000;
  --navigation-item-hover-color: #000;

  --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);

  --scroll-bar-color: #fff;
  --scroll-thumb-color: #282f4e;
  --scroll-thumb-hover-color: #454f6b;
}

/*======= Scroll bar =======*/
::-webkit-scrollbar{
  width: 11px;
  background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb{
  width: 100%;
  background: var(--scroll-thumb-color);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover{
  background: var(--scroll-thumb-hover-color);
}

/*======= Main CSS =======*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: var(--body-bg-color);
}

section{
  position: relative;
}

.section{
  color: var(--white-color);
  background: var(--section-bg-color);
  padding: 35px 200px;
  transition: 0.3s ease;
}

/*======= Header =======*/
header{
  z-index: 999;
  position: fixed;
  width: 100%;
  height: calc(5rem + 1rem);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 0.5s ease;
  transition-property: height, background;
}

header.sticky{
  height: calc(2.5rem + 1rem);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header .nav-bar{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
  transition: 0.4s ease;
}

.nav-close-btn, .nav-menu-btn{
  display: none;
}

.nav-bar .logo{
  color: var(--white-color);
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: var(--text-shadow);
}

.navigation .nav-items a{
  color: var(--white-color);
  font-size: 1em;
  text-decoration: none;
  text-shadow: var(--text-shadow);
}

.navigation .nav-items a i{
  display: none;
}

.navigation .nav-items a:not(:last-child){
  margin-right: 45px;
}

 hr {
   background-color: #fff;
   width: 100%;
   
 }

 i {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
 a {
    text-decoration: none;
    color: black;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
 
/*======= Home =======*/
.home{
  min-height: 100vh;
}

.home:before{
  z-index: 888;
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, var(--section-bg-color));
}

/*======= Background slider =======*/
.bg-slider{
  z-index: 777;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.bg-slider .swiper-slide{
  position: relative;
  width: 100%;
  height: 100vh;
}

.bg-slider .swiper-slide img{
  
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-position: center;
  background-size: cover;
  pointer-events: none;
  display: inline;
}

.text-content {
  text-align: center;
  margin-top: 10px;
}
.swiper-slide .text-content{
  position: absolute;
  top: 520px;
  color: var(--white-color);
  margin: 0 200px;
  transition: 0.3s ease;
  text-align: center;
  
}

.swiper-slide .text-content .title{
  font-size: 4em;
  font-weight: 700;
  text-shadow: var(--text-shadow);
  margin-bottom: 20px;
  transform: translateY(-50px);
  opacity: 0;
  text-align: justify;
}

.swiper-slide-active .text-content .title{
  transform: translateY(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .title span{
  font-size: 0.3em;
  font-weight: 300;
}

.swiper-slide .text-content p{
  max-width: 700px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-shadow: var(--text-shadow);
  padding: 20px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
  transform: translateX(-80px);
  opacity: 0;
}

.swiper-slide-active .text-content p{
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn{
  border: none;
  outline: none;
  background: var(--white-color);
  color: var(--dark-color);
  font-size: 1em;
  font-weight: 500;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  border-radius: 10px;
  cursor: pointer;
  transform: translateX(50px);
  opacity: 0;
}

.swiper-slide-active .text-content .read-btn{
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn i{
  font-size: 1.6em;
  transition: 0.3s ease;
}

.swiper-slide .text-content .read-btn:hover i{
  transform: translateX(5px);
}

.dark-layer:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}

.bg-slider-thumbs{
  z-index: 777;
  position: absolute;
  bottom: 7em;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease;
}

.thumbs-container{
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px 3px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
}

.thumbs-container img{
  width: 50px;
  height: 35px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.swiper-slide-thumb-active{
  border: 1px solid var(--white-color);
}

/*======= sobre section =======*/
.about h2{
  font-size: 3em;
  font-weight: 600;
}

.about p{
  margin: 25px 0;
}

  /*estilo dos cards*/
  
 .card-wrap{
     display: inline-block;
     margin: 5px;
     margin-left: 11px;
     width: 100px;
     background-color: rgba(255, 255, 255, .15);
     backdrop-filter: blur(5px);
     border-radius: 20px;
     border: none;
     overflow: hidden;
     color: var(--color-text);
     box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
                 rgba(0, 0, 0, 0.23) 0px 6px 6px;
     cursor: pointer;
     transition: all .2s ease-in-out;
   }
   .card-wrap:hover{
     transform: scale(1.1);
   }
   .card-header{
     height: 100px;
     width: 100%;
     background: none;
     border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
     display: grid;
     place-items: center;
   
   }
   
   .card-header i{
     color: #fff;
     font-size: 72px;
   }
   .card-content{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 60%;
     margin: 0 auto;
   }
   .card-title{
     text-align: center;
     text-transform: uppercase;
     font-size: 16px;
     margin-top: 10px;
     margin-bottom: 20px;
     
   }
   .card-text{
     text-align: center;
     font-size: 12px;
     margin-bottom: 20px;
   }
   .card-btn{
     border: none;
     border-radius: 100px;
     padding: 3px 10px;
     color: none;
     margin-bottom: 15px;
     text-transform: uppercase;
   }
   
   .imgmusic {
    margin-top: 10px;
    width: 100%;
    border-radius: 7px;
  }

  .btn {
    align-items: center;
    text-align: center;
    display: inline;
    margin: 15px;
    margin-left: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.02rem;
    width: 260px;
    max-width: 200px;
    padding: .6rem 1rem;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all .2s linear;
   }
   
   .btn:hover {        
    color: #fff;
    border: none;
   }

    .rodape  { 
    text-decoration: none; 
    color: white; 
    font-size: 10px; 
    cursor: pointer; 
    padding: 5px 5px; 
    text-align: center; 
    background-color: rgba(255, 255, 255, .15); 
    backdrop-filter: blur(4px); 
    display: block;
    font-family: 'Poppins', sans-serif;
  
  }
/*======= Media queries (max-width: 1100px) =======*/
@media screen and (max-width: 1000px){
  header .nav-bar{
    padding: 0 50px;
  }

  .section{
    padding: 25px 50px;
  }

  .bg-slider-thumbs{
    bottom: 3em;
  }
}

/*======= Media queries (max-width: 785px) =======*/
@media screen and (max-width: 785px){
  header .nav-bar{
    padding: 25px 20px;
  }

  .section{
    padding: 25px 20px;
  }

  .swiper-slide .text-content{
    margin: 0 70px 0 20px;
  }

  .swiper-slide .text-content .title{
    font-size: 40px;
  }

  .swiper-slide .text-content .title span{
    font-size: 0.35em;
  }

  .swiper-slide .text-content p{
    font-size: 0.9em;
  }

  /*======= navegação menu =======*/
  .nav-menu-btn{
    display: block;
    color: var(--white-color);
    font-size: 1.5em;
    cursor: pointer;
  }

  .nav-close-btn{
    display: block;
    color: var(--dark-color);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3em;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .navigation{
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
  }

  .navigation.active{
    visibility: visible;
    opacity: 1;
  }

  .navigation .nav-items{
    position: relative;
    background: var(--white-color);
    width: 400px;
    max-width: 400px;
    display: grid;
    place-content: center;
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    transform: translateY(-200px);
    transition: 0.3s ease;
  }

  .navigation.active .nav-items{
    transform: translateY(0);
  }

  .navigation .nav-items a{
    color: var(--dark-color);
    font-size: 1em;
    margin: 15px 50px;
    transition: 0.3s ease;
  }

  .navigation .nav-items a:hover{
    color: var(--navigation-item-hover-color);
  }

  .navigation .nav-items > a > i{
    display: inline-block;
    font-size: 1.3em;
    margin-right: 5px;
  }

  /*======= About section =======*/
  .about h2{
    font-size: 2.0em;
    text-align: center;
  }

  .about p{
    font-size: 0.9em;
  }

  .bg-slider .swiper-slide img{
    width: 110%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    pointer-events: none;
  }
  
  .btn {
    align-items: center;
    text-align: center;
    display: inline;
    margin: 1px;
    margin-left: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.02rem;
    width: 30%;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all .2s linear;
   }
}